.paiement{
    background-color: #C6E4C3;
    text-align: center;
    padding: 30px;
}

.infos-paiement{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.logo{
    width: 250px;
}

.mr-monopoly img{
    width: 230px;
    padding: 50px;
}

.infos-carte{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.num-carte, .date-carte{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
}

input{
    height: 30px;
}

label{
    margin-bottom: 12px;
}

.btn-payer{
    background-color:#fff;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    width: 30%;
}

.code-carte{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}