.btn-vert{
    background-color:#CCE3C6;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    display: block;
    margin: auto;
    position: relative;
}

.btn-blanc{
    background-color:#fff;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    display: block;
    position: relative;
}