.produits-unite{
    display: flex;
    gap: 90px;
    justify-content: center;
}

li{
    list-style: none;
    background-color: #fff;
    border-radius: 100%;
    padding: 20px;
    width: fit-content;
}

.burger{
    cursor: pointer;
}

li:hover{
    list-style: none;
    background-color: #CCE3C6;
    border-radius: 100%;
    padding: 20px;
}

li img{
    width: 100px;
}

button{
    border: none;
    background-color: transparent;
}

.produit{
    border-bottom: solid black 1px;
    
}