.carte-menu{
    border: 1px solid black;
    width: 500px;
    height: 550px;
    margin: 0 auto;
}

.titre-carte-rouge{
    background-color: #DB2428;
}

.titre-carte-jaune{
    background-color:#FFF004;
}

.titre-carte-vert{
    background-color:#12A858;
}

.titre-carte-bleu{
    background-color:#0167A4;
}

select{
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif, normal;
    font-weight: 500;
}
