.nav-item {
    display: flex;
}
  
  .nav-item a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif, normal;
    font-weight: 500;
  }
  
.selected a{
    border-bottom: 3px solid #C6E4C3;
}
  

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.logo{
    width: 110px;
}

.elements-nav{
    display: flex;
    gap: 20px;
}
