table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 20px;
  }
  
  th {
    background-color: #CCE3C6;
    text-align: left;
    padding: 10px;
  }
  
  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
 .supp {
    font-size: 1.2rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15px;
  }
  
  .supp:hover {
    background-color: #CCE3C6;
  }
  
  .total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .quantity-picker {
    display: flex;
    align-items: center;
  }
  
  .quantity-picker input {
    width: 50px;
    margin-right: 10px;
  }

  
