.recap {
    background-color: #C6E4C3;
    text-align: center;
    padding: 30px;
    height: 100vh;
}

.logo {
    width: 250px;
}

.recap-commande {
    padding: 0 100px;
    margin-top: 50px;
}

.recap-produit:not(:last-child) {
    margin-bottom: 45px;
}

strong {
    display: block;
    margin-bottom: 5px;
}

.options {
    list-style: circle;
    margin-bottom: 10px;
}

.carte-chance img {
    width: 45%;
    padding: 50px;
}

.carte-chance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retour-accueil {
    background-color:#fff;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    width: 30%;
}